.sidebar {
    width: 220px;
    background: #e5e5e5;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 15px;
  }
  
  .sidebar button {
    width: 100%;
    padding: 10px;
    border: none;
    background: orange;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .sidebar button:hover {
    background: #ff9900;
  }
  